<div class="container my-4">
  <div class="row">
    <div class="col-12">
      

      <div class="card">
        <div class="card-body">
            {{#if msg_success}}
              <div class="alert alert-success">{{msg_success}}</div>
            {{/if}}
            {{#if msg_warning}}
              <div class="alert alert-success">{{msg_warning}}</div>
            {{/if}}
          <div class="row">
            <div class="col-md-4">
              <img src="{{pesanan.gambar}}" class="card-img" alt="Gambar">
            </div>
            <div class="col-md-8">
              
                <h5 class="text-success">{{pesanan.jenis}}</h5>
                <p class="card-text"><small class="text-muted">Dipesan Tanggal {{pesanan.tanggal}}</small></p>
                <hr>
                <table class=" text-left table table-sm table-borderless">
                    <tr>
                      <td class="text-left">Ukuran bingkai</th>
                      <td>:</td>
                      <td>{{pesanan.ukuran_bingkai}}</td>
                    </tr>
                    <tr>
                      <td>Jumlah Orang Pada Foto</th>
                      <td>:</td>
                      <td>{{pesanan.jumlah_orang}}</td>
                    </tr>
                    <tr>
                      <td>Kalimat Pada Foto</th>
                      <td>:</td>
                      <td>{{pesanan.tulisan}}</td>
                    </tr>
                    <tr>
                      <td>Keterangan Foto</th>
                      <td>:</td>
                      <td>{{pesanan.keterangan}}</td>
                    </tr>
                    <tr>
                      <td>Total Pembayaran</th>
                      <td>:</td>
                      <td>{{pesanan.biaya}}</td>
                    </tr>
                    <tr>
                      <td>Lakukan Pembayaran</th>
                      <td>:</td>
                      <td>
                        <form class="form-inline" action="/pemesanan/pembayaran/{{pesanan.id_pesanan}}" method="POST" enctype="multipart/form-data">
                          <div class="form-group mb-2">
                            <input type="file" name="gambar_pembayaran" class="form-control-file" id="gambar_pembayaran" accept="image/x-png,image/gif,image/jpeg" required>
                          </div>
                          <button class="btn btn-info btn-sm" type="submit">upload</button>
                        </form>
                      </td>
                    </tr>
                </table>
                <hr>
                <h6 class="">Komentar</h6>
                
                <div class="card rounded-0 bg-light">
                  <div class="card-body">
                    {{#if komentar}}
                      {{#each komentar}}
                        {{#if this.isadmin}}
                          <div class="w-75 rounded-left card p-2 mb-2">
                            <h6 class="m-0">{{this.nama}} (admin)</h6>  
                            {{this.pesan}}
                          </div>

                        {{else}}
                        
                          <div class="bg-success text-white rounded-right float-right w-75 card p-2 mb-2">
                            <h6 class="m-0 text-md-left">{{this.nama}}</h6>  
                            {{this.pesan}}
                          </div>
                          
                        {{/if}}
                      {{/each}}
                    {{/if}}


                  </div>

                </div>
                <form class="mt-2" action="/pemesanan/pesan_komentar/{{pesanan.id_pesanan}}" method="post">
                  <div class="form-group">
                    <textarea name="pesan" placeholder="Masukkan pesan/komentar anda disini." class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">Kirim</button>
                </form>

                <hr>
                <a href="/pemesanan/daftar_pesanan" class="btn btn-sm btn-success">Ke Daftar Pesanan</a>
                <a href="/pemesanan/hapus_pesanan?id={{pesanan.id_pesanan}}" class="btn btn-sm btn-outline-danger">Batalkan Pesanan</a>
              
            </div>
          </div>
        </div>
      </div>

    
    </div>
  </div>

</div>
